{{ form_start(form,{attr:{'novalidate':'novalidate'}}) }}
{{ form_start(form) }}
<br>
<br>

{{ form_widget(form) }}
<div class="btn-hold">
    <button type="submit" class="btn btn-default">
       Modifier
    </button>
</div>
{{ form_end(form) }}