{% extends 'base_front.html.twig' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <h1>Modifier Reclamation</h1>

    {{ include('reclamation/_formedit.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
