{% extends 'base_front.html.twig' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Ajouter une reclamation :</h1>

    {{ include('reclamation/_form.html.twig') }}

{% endblock %}
