<form method="post" action="{{ path('app_avis_delete', {'refavis': avi.refavis}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avi.refavis) }}">
    <button class="btn btn-md btn-default">Delete</button>

</form>
