{% extends 'base_back.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block content %}
    {{ form_start(form, {attr:{novalidate:'novalidate'}}) }}

    {{ include('avis/_form.html.twig') }}

    <a href="{{ path('app_avis_index') }}">back to list</a>
{% endblock %}
