



<div class="row">
    <div class="col-md-6">

            <div class="hold">
                {{ form_start(form) }}
                <div class="booking-form"> {{ form_widget(form) }}    </div>
                {{ form_end(form) }}
            </div>



</div>
</div>