
{% extends 'base_front.html.twig'  %}

{% block content  %}

<div class="inner-main common-spacing container">
    <div class="col-md-6">
    {{ include('reservation/_form.html.twig') }}
    </div>
</div>
{% endblock %}
