<!DOCTYPE html>

<title>Edit Paiement</title>

{% block body %}
    <h1>Edit Paiement</h1>

    {{ include('paiement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paiement_index') }}">back to list</a>

    {{ include('paiement/_delete_form.html.twig') }}
{% endblock %}
