{% extends 'base_front.html.twig' %}


{% block content %}
    <br>
    <br>
    <br>
    <br>
    <center><h1>Edit promotion</h1></center>

    {{ include('promostion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_promostion_index') }}">back to list</a>

    {{ include('promostion/_delete_form.html.twig') }}
{% endblock %}
