{% extends 'base_front.html.twig' %}


{% block content %}
    <br>
    <br>
    <br>
    <br>
    <center><h1>Add New promotion</h1></center>

    {{ include('promostion/_form.html.twig') }}

    <a href="{{ path('app_promostion_index') }}">back to list</a>
{% endblock %}
