{% extends 'base.html.twig' %}

{% block title %}Edit Vol{% endblock %}

{% block body %}
    <h1>Edit Vol</h1>

    {{ include('vol/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vol_index') }}">back to list</a>

    {{ include('vol/_delete_form.html.twig') }}
{% endblock %}
