{% extends 'base_back.html.twig' %}


{% block content %}

<div class="app-content">

    <div class="side-app">

        <div class="row">
            <div class="col-md-12">
                <div class="card m-b-20">
                    <div class="card-header">
                        <h3 class="card-title">Modifier Avion</h3>

                    </div>

    {{ include('avion/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('avion/_delete_form.html.twig') }}
                    <BR>

   <a href="{{ path('app_avion',{'ida':app.user.id}) }}">back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
