{% extends 'base_front.html.twig' %}
{% block content %}
    <h1>Edit Category</h1>
    <br>
    <br>
    <br>
    <br>
    <center><h1>Create new Hebergement</h1></center>

    <button class="btn btn-default" onclick="getLocation()">Locate Me </button>

    <p id="demo"></p>

    <script>
        var x = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;

        }
    </script>
    {{ include('hebergement/_form.html.twig') }}

    <a  class="btn btn-default"href="{{ path('app_hebergement_index') }}">back to list</a>
{% endblock %}
