<!DOCTYPE html>

<title>New Avion</title>

{% block body %}
    <h1>Create new Avion</h1>

    {{ include('avion/_form.html.twig') }}

    <a href="{{ path('app_avion_index') }}">back to list</a>
{% endblock %}
