{% extends 'base_front.html.twig' %}


{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div><h1>Modifier votre Compte :</h1>  </div>
    <div >

        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}




    </div>
{% endblock %}