{% extends 'base_front.html.twig' %}


{% block content %}
<br>
    <br>
    <br>
    <br>
   <br>
    <br>

    <div class="top-box">
        <span class="holder height"><h3>Modifier votre compte</h3> </span>
    </div>
    <div >

        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}




    </div>
{% endblock %}