{% extends 'base_front.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
    <main id="main">
    <div class="inner-main common-spacing container">
    <div class="row">
    <div class="col-md-20">
    <div class="top-box">
        <span class="holder height">Mot de passe oublié</span>
    </div>
    {{ form(emailForm) }}
    </div>
    </div>
    </div>
    </main>
{% endblock %}