{% extends 'base_front.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <h2>Mot de passe oublié</h2>
    {{ form(emailForm) }}
{% endblock %}