{% extends 'base_front.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
<main id="main">
    <div class="inner-main common-spacing container">
        <div class="row">
            <div class="col-md-20">
                <div class="top-box">
                    <span class="holder height">Creer votre compte</span>
                </div>
    {{ include('user/_form.html.twig') }}
            </div>
        </div>
    </div>
</main>

{% endblock %}
