{% extends 'base_front.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
    <main id="main">
    <div class="inner-main common-spacing container">
    <div class="row">
    <div class="col-md-20">
    <div class="top-box">
        <span class="holder height">Nouveau mot de passe </span>
    </div>
    <form method="post">
        <label for="inputPassword">Nouveau mot de passe</label>
        <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit" class="btn btn-default">
            Valider
        </button>


    </form>
    </div>
    </div>
    </div>
    </main>



{% endblock %}